.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: white;
	color: black;
	font-weight: 900;
	transition: opacity 0.3s ease-out;
	overflow: hidden;
	user-select: none;
}

.avatar__photo {
	width: inherit;
	height: inherit;
}

.avatar__email {
	font-size: 12px;
}
